module.exports.isAllChecked = function (list) {
  var isAll = list.every(function(item){
    return item.checked
  })
  return isAll;
};
module.exports.allCount = function(list){
  var count =  0;
  list.forEach(function(item){
    if(item.checked) count = count + item.count;
  })
  return count;
};
module.exports.allMoney = function(list){
  var money =  0;
 
  list.forEach(function(item){
    if(item.checked) {
      money = money + item.count * item.price;
    }
  })
  return money;
};
module.exports.reducedPrice = function(list){
  var reducedPrice = 0;
  list.forEach(function(item){
    if(item.checked){
      reducedPrice = reducedPrice + item.count*(item.oldPrice - item.price)
    }
  })
  return reducedPrice;
};
module.exports.isOldPrice = function(list){
  var oldPrice = false;
  list.forEach(function(item){
    if(item.oldPrice){
      oldPrice = true;
    }
  })
  return oldPrice;
};